

.imessage p {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}

p.from-client {
    align-self: flex-end;
    background-color: #248bf5;
    color: #fff; 
}

p.from-client::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #248bf5;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}

p.from-client::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
}

p[class^="from-"] {
    margin: 0.5rem 0;
    width: fit-content;
}

p.from-client ~ p.from-client {
    margin: 0.25rem 0 0;
}

p.from-client ~ p.from-client:not(:last-child) {
    margin: 0.25rem 0 0;
}

p.from-client ~ p.from-client:last-child {
    margin-bottom: 0.5rem;
}

p.from-emmerce {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
}

p.from-emmerce:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}

p.from-emmerce::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}
